<div class="modal modalMainAction fade" id="modalMainAction" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="h2 fw-600 text-uppercase mb-0">Расчитать стоимость</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <div>
                        <div class="row gy-5 gy-xl-6">
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="text" class="form-control form-control-lg" placeholder="Имя">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="tel" class="form-control form-control-lg" placeholder="+ 7 (000) 000-00-00">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="email" class="form-control form-control-lg" placeholder="Почта">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-7 mt-xl-7">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ctaCheckModal">
                            <label class="form-check-label" for="ctaCheckModal">Я даю своё согласие на&nbsp;обработку <a href="#">персональных данных</a> и&nbsp;соглашаюсь с&nbsp;<a href="#">политикой конфиденциальности</a></label>
                        </div>
                    </div>
                    <div class="mt-7 mt-xl-10">
                        <button type="button" data-bs-target="#modalSuccess" data-bs-toggle="modal" class="btn btn-primary btn-lg w-100">Оставить заявку</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>