/*------------------------------------------------------------------
[ footer ]*/

.footer {
    padding: 60px 0;
    background-color: #141414;

    a {
        text-decoration: none;
    }

    .nav {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-color: #fff;
        --bs-nav-link-hover-color: #fff;
    }

    .nav-link {
        opacity: 0.5;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .footer-widget-logo img {
        max-width: 100%;
        width: auto;
        height: 38px;
    }

    @include media-breakpoint-up(xl) {
        padding: 160px 0;

        .nav {
            --bs-nav-link-padding-y: 0.75rem;
        }

        .footer-widget-logo img {
            height: 102px;
        }
    }
}