/*------------------------------------------------------------------
[ forms ]*/

// form-control
.form-control {
    box-shadow: none !important;

    &:focus {
        border-color: var(--bs-primary);
    }

    // &::placeholder {
    //     opacity: 0.6;
    // }
}

.form-control-sm {
    min-height: 48px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: var(--bs-border-radius);
}

.form-control-lg {
    min-height: 48px;
    padding: 0.625rem 1rem;
    font-size: 1rem;
    border-radius: var(--bs-border-radius);
}

// input sizes
.input-m {
    min-height: 40px;
    padding: 10px 16px;
}
.input-l {
    min-height: 60px;
    padding: 12px 22px;
}

// form-check
.form-check {
    font-size: 20px;
}
.form-check-input {
    --bs-border-width: 2px;
    // --bs-form-check-bg: transparent;
    box-shadow: none !important;

    // &:checked {
    //     background-color: #415EF6;
    //     border-color: #415EF6;
    // }

    &:focus {
        box-shadow: none;
    }

    &[type=checkbox] {
        border-radius: 2px;
    }
}
.form-check-label {
    color: #767B89;
    font-size: 13px;
}

@include media-breakpoint-up(xl) {
    .form-control-lg {
        min-height: 68px;
        padding: 1.25rem 1.25rem;
        font-size: 1.25rem;
        border-radius: var(--bs-border-radius);
    }

    .form-check-label {
        font-size: 15px;
    }
}

// validation
.invalid-feedback {
    font-size: 16px;
}

.was-validated .form-check-input.is-valid,
.was-validated .form-check-input:valid {
    border-color: var(--bs-border-color);
}
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
    background-color: #415EF6;
    border-color: #415EF6;
    box-shadow: none;
}

.was-validated .form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #767B89;
}
