/*------------------------------------------------------------------
[ offcanvas ]*/

/* offcanvas-mobilemenu */

.offcanvas-mobilemenu {
    --bs-offcanvas-height: fit-content;
    --bs-offcanvas-padding-x: 24px;
    --bs-offcanvas-padding-y: 24px;
    --bs-offcanvas-bg: #EAEDFB;

    &__logo img {
        width: auto;
        height: 38px;
    }
}