/*------------------------------------------------------------------
[ sections ]*/

.section {
    position: relative;

    &__header {
        position: relative;
        margin-bottom: 32px;
    }

    &__body {
        position: relative;
    }

    &__footer {
        position: relative;
        margin-top: 24px;
    }

    @include media-breakpoint-up(xl) {
        &__header {
            margin-bottom: 80px;
        }

        &__footer {
            margin-top: 60px;
        }
    }
}

.section-anchor {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;

    @include media-breakpoint-up(xl) {
        top: -50px;
    }
}

/*------------------------------------------------------------------
[ accordion ]*/

.accordion-faq {
    --bs-accordion-color: #F0DDD8;
    --bs-accordion-bg: #221E2B;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-color: #fff;
    --bs-accordion-btn-bg: #221E2B;
    --bs-accordion-btn-icon-transform: rotate(180deg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-active-color: #fff;
    --bs-accordion-active-bg: #221E2B;
    --theme-accordion-divider: 10px;

    .accordion-item {
        overflow: hidden;
        padding: 28px;
        border: none !important;
        border-radius: var(--bs-border-radius-lg) !important;
        background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, rgba(59, 39, 69, 0.4) 0%, rgba(35, 30, 44, 0.4) 100%);
    
        &:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .accordion-button {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        gap: 15px;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: transparent;

        &::after {
            content: none;
        }

        .accordion-icon {
            flex-shrink: 0;
            margin-left: auto;
    
            svg {
                transition: var(--bs-accordion-btn-icon-transition);
            }
        }
        
        &:not(.collapsed) {

            .accordion-icon svg {
                transform: var(--bs-accordion-btn-icon-transform);
            }
        }
    }
    
    .accordion-body {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
    
        p:last-child {
            margin-bottom: 0;
        }
    
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: var(--theme-accordion-divider);
        }
    }
    
    @include media-breakpoint-up(lg) {
        --theme-accordion-divider: 15px;
    
        .accordion-button {
            font-size: 18px;
        }

        .accordion-body {
            font-size: 18px;
        }
    }
}

/*------------------------------------------------------------------
[ breadcrumb ]*/

.breadcrumb {
    --bs-breadcrumb-font-size: var(--fs-x-small);
    --bs-breadcrumb-margin-bottom: 10px;

    // @include media-breakpoint-up(xl) {
    //     --bs-breadcrumb-font-size: var(--fs-small);
    // }
}

.breadcrumb-white {
    --bs-link-color-rgb: var(--theme-white-rgb);
    --bs-breadcrumb-divider-color: var(--theme-white);
    --bs-breadcrumb-item-active-color: var(--theme-white);
}

/*------------------------------------------------------------------
[ section-home-hero ]*/

.section-home-hero {
    position: relative;
    overflow: hidden;
    padding: 32px 0 155px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 1370px;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }

    .hero-title {
        max-width: 1090px;
        font-size: clamp(2.375rem, 1.79rem + 2.92vw, 4.125rem);
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .hero-subtitle {
        max-width: 600px;
        font-size: clamp(1rem, 0.83rem + 0.83vw, 1.5rem);
        line-height: 1.2;
    }

    .hero-features {
        max-width: 1050px;
        margin-top: 64px;
    }

    .hero-btns {
        margin-top: 100px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 960px;
        padding: 200px 0 130px;

        .hero-title {
            margin-bottom: 24px;
        }

        .hero-btns {
            margin-top: 32px;
        }
    }
}

/*------------------------------------------------------------------
[ section-home-clients ]*/

.section-home-clients {
    padding: 60px 0;

    @include media-breakpoint-up(xl) {
        padding: 140px 0;
    }
}

/*------------------------------------------------------------------
[ section-services ]*/

.section-services {
    padding: 40px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-home-features ]*/

.section-home-features {
    position: relative;
    overflow: hidden;
    padding: 100px 0 115px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 1280px;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(255, 98, 1, 0.24) 100%);
    }

    .section__header {
        margin-bottom: 32px;
    }

    @include media-breakpoint-up(xl) {
        padding: 140px 0 140px;

        .section__header {
            margin-bottom: 205px;
        }
    }
}