/*------------------------------------------------------------------
[ sections ]*/

.section {
    position: relative;

    &__header {
        position: relative;
        margin-bottom: 32px;
    }

    &__body {
        position: relative;
    }

    &__footer {
        position: relative;
        margin-top: 24px;
    }

    @include media-breakpoint-up(xl) {
        &__header {
            margin-bottom: 80px;
        }

        &__footer {
            margin-top: 60px;
        }
    }
}

.section-anchor {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;

    @include media-breakpoint-up(xl) {
        top: -50px;
    }
}

/*------------------------------------------------------------------
[ breadcrumb ]*/

.nav-breadcrumb {
    padding: 28px 0;
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0px;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M4.175 5.575L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L6.275 4.875C6.375 4.975 6.44583 5.08333 6.4875 5.2C6.52917 5.31667 6.55 5.44167 6.55 5.575C6.55 5.70833 6.52917 5.83333 6.4875 5.95C6.44583 6.06667 6.375 6.175 6.275 6.275L1.675 10.875C1.49167 11.0583 1.25833 11.15 0.975 11.15C0.691667 11.15 0.458333 11.0583 0.275 10.875C0.0916667 10.6917 0 10.4583 0 10.175C0 9.89167 0.0916667 9.65833 0.275 9.475L4.175 5.575Z' fill='%23141414' fill-opacity='0.5'/%3E%3C/svg%3E");

    a {
        text-decoration: none;
    }

    // @include media-breakpoint-up(xl) {
    //     --bs-breadcrumb-font-size: var(--fs-small);
    // }
}

.breadcrumb-white {
    --bs-link-color-rgb: var(--theme-white-rgb);
    --bs-breadcrumb-divider-color: var(--theme-white);
    --bs-breadcrumb-item-active-color: var(--theme-white);
}

/*------------------------------------------------------------------
[ section-home-hero ]*/

.section-home-hero {
    position: relative;
    overflow: hidden;
    padding: 32px 0 155px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 1370px;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }

    .hero-title {
        max-width: 1090px;
        font-size: clamp(2.375rem, 1.79rem + 2.92vw, 4.125rem);
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .hero-subtitle {
        max-width: 600px;
        font-size: clamp(1rem, 0.83rem + 0.83vw, 1.5rem);
        line-height: 1.2;
    }

    .hero-features {
        max-width: 1050px;
        margin-top: 64px;
    }

    .hero-btns {
        margin-top: 100px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 960px;
        padding: 200px 0 130px;

        .hero-title {
            margin-bottom: 24px;
        }

        .hero-btns {
            margin-top: 32px;
        }
    }
}

/*------------------------------------------------------------------
[ section-home-clients ]*/

.section-home-clients {
    overflow: hidden;
    padding: 60px 0;

    @include media-breakpoint-up(xl) {
        padding: 140px 0;
    }
}

/* clients-marquee */

.clients-marquee {
    position: relative;
    overflow: visible;

    .clients-track {
        display: flex;
        align-items: center;
        width: max-content;
        will-change: transform;
    }

    .client-item {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 4px;
    }

    &.is-hover .client-item {
        opacity: .35;
        transition: .3s;
    }

    &.is-hover .client-item.active {
        opacity: 1;
    }

    .client-tooltip {
        position: absolute;
        left: 50%;
        bottom: calc(100% + 18px);
        transform: translateX(-50%) translateY(10px);

        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 370px;
        padding: 22px 24px;
        border-radius: var(--bs-border-radius);
        background-color: #fff;
        box-shadow: 4px 4px 22px 0px rgba(104, 104, 104, 0.25);

        transition: .25s;
        z-index: 20;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -8px;
            width: 16px;
            height: 16px;
            background: #fff;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    .client-item.active .client-tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%);
    }

    .client-img-wrap img {
        width: auto;
        height: 40px;
        filter: grayscale(1) brightness(.35);
        transition: .3s;
    }

    &.is-hover .client-item.active img {
        filter: none;
    }

    @include media-breakpoint-up(xl) {
        .client-item {
            padding: 0 30px;
        }

        .client-img-wrap img {
            height: 90px;
        }
    }
}

/*------------------------------------------------------------------
[ section-home-services ]*/

.section-home-services {
    padding: 40px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-services ]*/

.section-services {
    padding: 32px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-home-features ]*/

.section-home-features {
    position: relative;
    overflow: hidden;
    padding: 100px 0 115px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 1280px;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(255, 98, 1, 0.24) 100%);
    }

    .section__header {
        margin-bottom: 32px;
    }

    @include media-breakpoint-up(xl) {
        padding: 140px 0 140px;

        .section__header {
            margin-bottom: 205px;
        }
    }
}

/*------------------------------------------------------------------
[ section-fabric-foto ]*/

.section-fabric-foto {
    padding: 40px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-team-slider ]*/

.section-team-slider {
    padding: 40px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-blog-slider ]*/

.section-blog-slider {
    padding: 40px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-blog-grid ]*/

.section-blog-grid {
    padding: 32px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-blog-single ]*/

.section-blog-single {
    padding: 0 0 60px;

    .blog-single__img-wrap {
        height: 170px;
        margin-bottom: 32px;
    }

    @include media-breakpoint-up(xl) {
        padding: 0 0 140px;

        .blog-single__img-wrap {
            height: 540px;
            margin-bottom: 60px;
        }
    }
}

.blog-single__content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: 16px;
    }

    h1 {
        font-size: clamp(2rem, 1.667rem + 1.67vw, 3rem);
        text-transform: uppercase;
    }

    figure {
        margin: 30px 0;
    }

    @include media-breakpoint-up(xl) {
        h1 {
            margin-bottom: 28px;
        }

        figure {
            margin: 48px 0;
        }
    }
}

/*------------------------------------------------------------------
[ section-contacts ]*/

.section-contacts {
    padding: 40px 0 130px;

    a {
        text-decoration: none;
    }

    .contact-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--bs-primary);
    }

    @include media-breakpoint-down(xl) {
        .contact-icon svg {
            width: 18px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding: 90px 0 90px;

        .contact-icon {
            width: 56px;
            height: 56px;
        }
    }
}

/*------------------------------------------------------------------
[ section-cta ]*/

.section-cta {
    position: relative;
    overflow: hidden;
    padding: 100px 0 160px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .section__header {
        margin-bottom: 32px;
    }

    .form-wrap {
        max-width: 950px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 12px;
        background-color: #fff;
    }

    .form-control {
        background-color: #F6F4F3;
    }

    @include media-breakpoint-up(xl) {
        padding: 140px 0 140px;

        .section__header {
            margin-bottom: 40px;
        }

        .form-wrap {
            padding: 40px;
        }
    }
}

/*------------------------------------------------------------------
[ section-home-faq ]*/

.section-home-faq {
    padding: 60px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 140px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-faq ]*/

.section-faq {
    padding: 32px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ accordion ]*/

.accordion-faq {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #F6F4F3;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: #F6F4F3;
    --bs-accordion-btn-icon-transform: rotate(135deg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: #F6F4F3;
    --theme-accordion-divider: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .accordion-item {
        overflow: hidden;
        padding: 12px 16px;
        border: none !important;
        border-radius: var(--bs-border-radius) !important;
    }

    .accordion-button {
        line-height: 1.2;
        gap: 16px;
        border-radius: 0 !important;
        background: transparent;
        box-shadow: none !important;

        &::after {
            content: none;
        }

        .accordion-icon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--bs-primary);
            margin-left: auto;
    
            svg {
                transition: var(--bs-accordion-btn-icon-transition);
            }
        }
        
        &:not(.collapsed) {

            .accordion-icon svg {
                transform: var(--bs-accordion-btn-icon-transform);
            }
        }
    }
    
    .accordion-body {
        font-size: clamp(0.75rem, 0.583rem + 0.83vw, 1.25rem);
    
        p:last-child {
            margin-bottom: 0;
        }
    
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: var(--theme-accordion-divider);
        }
    }

    @include media-breakpoint-down(xl) {
        .accordion-button {
            .accordion-icon svg {
                width: 17px;
            }
        }
    }
    
    @include media-breakpoint-up(xl) {
        --theme-accordion-divider: 16px;
        gap: 20px;

        .accordion-item {
            padding: 20px 24px;
        }
    
        .accordion-button {
            .accordion-icon {
                width: 52px;
                height: 52px;
            }
        }
    }
}

/*------------------------------------------------------------------
[ section-search-result ]*/

.section-search-result {
    padding: 32px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 80px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-404 ]*/

.section-404 {
    padding: 130px 0 250px;

    @include media-breakpoint-up(xl) {
        padding: 115px 0 100px;
    }
}

/*------------------------------------------------------------------
[ pagination ]*/

.pagination {
    --si-pagination-padding-x: 0.875rem;
    --si-pagination-padding-y: 0.45rem;
    --si-pagination-font-size: 0.875rem;
    --si-pagination-color: #33354d;
    --si-pagination-bg: transparent;
    --si-pagination-border-width: 0;
    --si-pagination-border-color: var(--si-border-color);
    --si-pagination-border-radius: var(--si-border-radius);
    --si-pagination-hover-color: #6366f1;
    --si-pagination-hover-bg: #eff2fc;
    --si-pagination-hover-border-color: var(--si-border-color);
    --si-pagination-focus-color: #6366f1;
    --si-pagination-focus-bg: var(--si-secondary-bg);
    --si-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, .25);
    --si-pagination-active-color: #fff;
    --si-pagination-active-bg: #6366f1;
    --si-pagination-active-border-color: #6366f1;
    --si-pagination-disabled-color: var(--si-secondary-color);
    --si-pagination-disabled-bg: transparent;
    --si-pagination-disabled-border-color: var(--si-border-color);
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.page-item {
    margin: 0 .125rem;
}

.page-item:first-child {
    margin-left: 0;
}

.page-item:last-child {
    margin-right: 0;
}

.page-link {
    background-color: var(--si-pagination-bg);
    border: var(--si-pagination-border-width) solid var(--si-pagination-border-color);
    color: var(--si-pagination-color);
    display: block;
    font-size: var(--si-pagination-font-size);
    padding: var(--si-pagination-padding-y) var(--si-pagination-padding-x);
    position: relative;
    text-decoration: none;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.page-link {
    align-items: center;
    border-radius: var(--si-pagination-border-radius);
    display: flex;
    font-weight: var(--si-pagination-font-weight);
    height: 100%;
}

/*------------------------------------------------------------------
[ section-about ]*/

.section-about {
    padding: 0 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 0 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-services-single-hero ]*/

.section-services-single-hero {
    padding: 0 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 0 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-how-we-work ]*/

.section-how-we-work {
    padding: 60px 0;

    .steps-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        // border-left: 2px solid #e7e5e1;
    }
    .steps-nav li {
        position: relative;
        padding: 10px 0 10px 20px;
        margin-left: -2px;
        cursor: pointer;
        color: #8a8a8a;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border-left: 2px solid transparent;
        transition: color .25s ease, border-color .25s ease;
        user-select: none;
    }
    .steps-nav li .num {
        margin-right: 10px;
        font-variant-numeric: tabular-nums;
    }
    .steps-nav li:hover {
        color:#1c1c1c;
    }
    .steps-nav li.active {
        color: var(--bs-primary);
        border-left-color: var(--bs-primary);
    }
    .steps-nav li.active::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -6px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--bs-primary);
    }

    @include media-breakpoint-up(xl) {
        padding: 140px 0;

        .steps-nav li {
            font-size: 20px;
        }

        .steps-nav li .num {
            margin-right: 16px;
        }

        .steps-nav li.active::before {
            width: 16px;
            height: 16px;
            left: -9px;
        }
    }
}

/*------------------------------------------------------------------
[ tab-nav ]*/

.tab-nav {
    --bs-nav-link-padding-x: 0.75rem;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 12px;
    --bs-nav-link-font-weight: 400;
    display: flex;
    gap: 12px;

    .nav-link {
        min-height: 32px;

        &:not(.active) {
            background-color: #F6F4F3;
        }
    }

    @include media-breakpoint-up(xl) {
        --bs-nav-link-padding-x: 1.25rem;
        --bs-nav-link-font-size: 24px;
        gap: 20px;

        .nav-link {
            min-height: 60px;
        }
    }
}

/*------------------------------------------------------------------
[ section-clients-hero ]*/

.section-clients-hero {
    padding: 0 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 0 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-contacts-hero ]*/

.section-contacts-hero {
    padding: 32px 0 60px;

    @include media-breakpoint-up(xl) {
        padding: 90px 0 140px;
    }
}

/*------------------------------------------------------------------
[ section-history-slider ]*/

.section-history-slider {
    padding: 60px 0;

    @include media-breakpoint-up(xl) {
        padding: 140px 0;
    }
}