/*------------------------------------------------------------------
[ swiper ]*/

.swiper {
    --swiper-theme-color: var(--bs-primary);

    @include media-breakpoint-down(xl) {
        &:has(.swiper-pagination) {
            padding-bottom: 40px;
        }
    }
}

.btn-swiper-prev,
.btn-swiper-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.btn-swiper-prev {
    left: -26px;
}

.btn-swiper-next {
    right: -26px;
}

@include media-breakpoint-down(xl) {
    .btn-swiper-prev,
    .btn-swiper-next {
        display: none;
    }
}

@include media-breakpoint-up(xl) {
    .swiper-pagination {
        display: none;
    }
}

/* swiperFeatures */

.swiperFeatures {
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-feature {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

/* swiperTeam */

.swiperTeam {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-team-slide {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

/* swiperBlog */

.swiperBlog {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-blog {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

.swiperBlog-area {

    @include media-breakpoint-up(xl) {
        .btn-swiper-prev,
        .btn-swiper-next {
            top: calc(440px / 2 - 80px / 2);
            transform: none;
        }
    }
}

/* swiperProcessText */

.swiperProcessText {
    border-radius: var(--bs-border-radius);
    background-color: #F6F4F3;

    .swiper-slide {
        height: auto;
        padding: 14px;
    }

    @include media-breakpoint-up(xl) {
        .swiper-slide {
            padding: 28px;
        }
    }
}

/* swiperGallery */

.swiperGallery {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: 300px;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);

        .swiper-slide {
            height: 500px;
        }
    }
}

/* swiperYears */

.swiperYears {

    .year-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        
        &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--bs-body-color);
        }

        .year-title {
            font-size: 34px;
            font-weight: 500;
        }
    }

    .swiper-slide-active {
        color: var(--bs-primary);

        .year-item::before {
            background-color: var(--bs-primary);
        }
    }

    @include media-breakpoint-up(xl) {
        .year-item {
            &::before {
                width: 18px;
                height: 18px;
            }

            .year-title {
                font-size: 80px;
            }
        }
    }
}