/*------------------------------------------------------------------
[ swiper ]*/

.swiper {
    --swiper-theme-color: var(--bs-primary);

    @include media-breakpoint-down(xl) {
        &:has(.swiper-pagination) {
            padding-bottom: 40px;
        }
    }
}

.btn-swiper-prev,
.btn-swiper-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.btn-swiper-prev {
    left: -26px;
}

.btn-swiper-next {
    right: -26px;
}

@include media-breakpoint-down(xl) {
    .btn-swiper-prev,
    .btn-swiper-next {
        display: none;
    }
}

@include media-breakpoint-up(xl) {
    .swiper-pagination {
        display: none;
    }
}

/* swiperClients */

.swiperClients {
    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }

    .swiper-img {
        padding: 0 4px;

        img {
            width: auto;
            height: 40px;
        }
    }

    @include media-breakpoint-up(xl) {
        .swiper-img {
            padding: 0 30px;

            img {
                height: 90px;
            }
        }
    }
}

/* swiperFeatures */

.swiperFeatures {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-feature {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

/* swiperTeam */

.swiperTeam {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-team-slide {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

/* swiperBlog */

.swiperBlog {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: auto;
    }

    .card-blog {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);
    }
}

/* swiperProcessText */

.swiperProcessText {
    border-radius: var(--bs-border-radius);
    background-color: #F6F4F3;

    .swiper-slide {
        height: auto;
        padding: 14px;
    }

    @include media-breakpoint-up(xl) {
        .swiper-slide {
            padding: 28px;
        }
    }
}

/* swiperGallery */

.swiperGallery {
    border-radius: var(--bs-border-radius-sm);

    .swiper-slide {
        height: 300px;
    }

    @include media-breakpoint-up(xl) {
        border-radius: var(--bs-border-radius);

        .swiper-slide {
            height: 500px;
        }
    }
}

/* swiperYears */

.swiperYears {

    // .swiper-slide {
    //     width: auto;
    // }

    .swiper-slide-active {
        color: var(--bs-primary);
    }

    // @include media-breakpoint-up(xl) {}
}