<div class="card card-manager">
    <div class="card-body">
        <div class="grid-wrap">
            <div class="card-thumb-wrap">
                <img class="img-fluid rounded-3" src="@@thumbURL" alt="">
            </div>
            <div class="d-flex flex-column justify-content-between">
                <div>
                    <div class="text-body text-opacity-60 mb-1">@@job</div>
                    <div class="h4 fw-600 mb-0">@@title</div>
                </div>
                <div class="d-flex flex-column gap-1 gap-xl-2">
                    <div><a href="tel:+78362385656">@@tel</a></div>
                    <div><a href="mailto:@@mail">@@mail</a></div>
                </div>
            </div>
        </div>
    </div>
</div>