<div class="card card-team-slide">
    <div class="card-thumb-wrapper">
        <img src="@@thumbURL" alt="">
    </div>
    <div class="position-absolute bottom-0 start-0 end-0 bg-white rounded-2 rounded-xl-3 p-4 p-xl-6 m-4 m-xl-6">
        <div class="d-flex gap-4">
            <div class="spot-primary"></div>
            <div>
                <div class="card-title h4 fw-600 mb-0">@@title</div>
                <div class="text-box fw-500 text-body text-opacity-60">@@job</div>
            </div>
        </div>
    </div>
</div>