    <footer class="footer">
        <!-- main-bar -->
        <div class="footer__main-bar">
            <div class="container">
                <div class="row gy-9">
                    <div class="col-xl-6">
                        <div class="footer-widget-logo">
                            <img src="assets/img/logo/logo-footer.svg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-18">
                        <div class="d-flex flex-column gap-9 gap-xl-12">

                            <div class="position-relative">
                                <div class="row gy-9">
                                    <div class="col-xl-16">
                                        <div class="mt-xl-7">
                                            <div class="row gy-7">
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Услуги</div>
                                                    <nav class="nav flex-column">
                                                        <a href="services-single.html" class="nav-link">Услуги полиграфии</a>
                                                        <a href="services-single.html" class="nav-link">Печать по текстилю</a>
                                                        <a href="services-single.html" class="nav-link">Сувенирная продукция</a>
                                                    </nav>
                                                </div>
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">О компании</div>
                                                    <nav class="nav flex-column">
                                                        <a href="about.html" class="nav-link">О нас</a>
                                                        <a href="clients.html" class="nav-link">Наши клиенты</a>
                                                    </nav>
                                                </div>
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Клиентам</div>
                                                    <nav class="nav flex-column">
                                                        <a href="#" class="nav-link">Доставка и оплата</a>
                                                        <a href="faq.html" class="nav-link">Вопрос-ответ</a>
                                                        <a href="#" class="nav-link">Реквизиты</a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="d-flex flex-column gap-5 gap-xl-7">
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Телефон</div>
                                                <div class="text-white">
                                                    <a href="tel:+78362385656" class="link-light fw-600">8 (8362) 38-56-56</a>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Почта</div>
                                                <div class="text-white">
                                                    <a href="mailto:info12@printecs.com" class="link-light fw-600">info12@printecs.com</a>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Адрес</div>
                                                <div class="text-white">
                                                    <span class="fw-600">424003, Республика Марий Эл, г. Йошкар-Ола, ул. Суворова, д. 15А, кабинет 204</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <hr class="text-white border-2 my-0 hide-on-mobile">
    
                            <div class="position-relative">
                                <div class="row align-items-center gy-9">
                                    <div class="col-xl-16">
                                        <div class="row gy-9">
                                            <div class="col-24 col-xl-8">
                                                <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Реквизиты</div>
                                                <div class="text-white text-opacity-50 text-box">
                                                    <p>ООО « ПРИНТЕКС »</p>
                                                    <p>ИНН 0000000000</p>
                                                    <p>ОГРН 0000000000000</p>
                                                </div>
                                            </div>
                                            <div class="col-24 col-xl-8">
                                                <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Документы</div>
                                                <nav class="nav flex-column">
                                                    <a href="#" class="nav-link">Политика конфиденциальности</a>
                                                    <a href="#" class="nav-link">Политика использования cookies</a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div>
                                            <div class="fs-4 fw-600 text-white mb-2">© Printecs, 2026</div>
                                            <div class="text-white">Сайт полиграфических услуг типографии</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- modal-success -->
    <!-- include('../modals/success.html') -->

    <!-- scripts -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/fancybox.umd.js"></script>
    <script src="assets/js/imask.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>