    <footer class="footer">
        <!-- main-bar -->
        <div class="footer__main-bar">
            <div class="container">

            </div>
        </div>

        <!-- copyright-bar -->
        <div class="footer__copyright-bar">
            <div class="container">
                <!-- widget-text -->
                <div class="footer-widget footer-widget-text">
                    <p>© Printecs, 2026</p>
                </div>
            </div>
        </div>

    </footer>

    <!-- modal-success -->
    <!-- include('../modals/success.html') -->

    <!-- scripts -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/fancybox.umd.js"></script>
    <script src="assets/js/imask.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>