    <footer class="footer">
        <!-- main-bar -->
        <div class="footer__main-bar">
            <div class="container">
                <div class="row gy-9">
                    <div class="col-xl-6">
                        <div class="footer-widget-logo">
                            <img src="assets/img/logo/logo-footer.svg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-18">
                        <div class="d-flex flex-column gap-9 gap-xl-12">

                            <div class="position-relative">
                                <div class="row gy-9">
                                    <div class="col-xl-16">
                                        <div class="mt-xl-7">
                                            <div class="row gy-7">
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Услуги</div>
                                                    <nav class="nav flex-column">
                                                        <a href="services-single.html" class="nav-link">Услуги полиграфии</a>
                                                        <a href="services-single.html" class="nav-link">Печать по текстилю</a>
                                                        <a href="services-single.html" class="nav-link">Сувенирная продукция</a>
                                                    </nav>
                                                </div>
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">О компании</div>
                                                    <nav class="nav flex-column">
                                                        <a href="about.html" class="nav-link">О нас</a>
                                                        <a href="clients.html" class="nav-link">Наши клиенты</a>
                                                    </nav>
                                                </div>
                                                <div class="col-12 col-xl-8">
                                                    <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Клиентам</div>
                                                    <nav class="nav flex-column">
                                                        <a href="#" class="nav-link">Доставка и оплата</a>
                                                        <a href="faq.html" class="nav-link">Вопрос-ответ</a>
                                                        <a href="#" class="nav-link">Реквизиты</a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="d-flex flex-column gap-5 gap-xl-7">
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Телефон</div>
                                                <div class="text-white">
                                                    <a href="tel:+78362385656" class="link-light fw-600">8 (8362) 38-56-56</a>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Почта</div>
                                                <div class="text-white">
                                                    <a href="mailto:info12@printecs.com" class="link-light fw-600">info12@printecs.com</a>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="text-uppercase fw-400 text-white text-opacity-50 mb-1">Адрес</div>
                                                <div class="text-white">
                                                    <span class="fw-600">424003, Республика Марий Эл, г. Йошкар-Ола, ул. Суворова, д. 15А, кабинет 204</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <hr class="text-white border-2 my-0 hide-on-mobile">
    
                            <div class="position-relative">
                                <div class="row align-items-center gy-9">
                                    <div class="col-xl-16">
                                        <div class="row gy-9">
                                            <div class="col-24 col-xl-8">
                                                <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Реквизиты</div>
                                                <div class="text-white text-opacity-50 text-box">
                                                    <p>ООО « ПРИНТЕКС »</p>
                                                    <p>ИНН 0000000000</p>
                                                    <p>ОГРН 0000000000000</p>
                                                </div>
                                            </div>
                                            <div class="col-24 col-xl-8">
                                                <div class="h4 text-uppercase fw-600 text-white mb-5 mb-xl-7">Документы</div>
                                                <nav class="nav flex-column">
                                                    <a href="#" class="nav-link">Политика конфиденциальности</a>
                                                    <a href="#" class="nav-link">Политика использования cookies</a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div>
                                            <div class="fs-4 fw-600 text-white mb-2">© Printecs, 2026</div>
                                            <div class="text-white">Сайт полиграфических услуг типографии</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- btn-contact -->
    <button type="button" class="btn-contact">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M25.9835 20.6667V27.45C25.9835 28.05 25.9168 28.6167 25.7668 29.1333C25.1502 31.5833 23.1168 33.1167 20.3168 33.1167H15.7835L10.7502 36.4667C10.0002 36.9833 9.00016 36.4333 9.00016 35.5333V33.1167C7.30016 33.1167 5.8835 32.55 4.90016 31.5667C3.90016 30.5667 3.3335 29.15 3.3335 27.45V20.6667C3.3335 17.5 5.30016 15.3167 8.3335 15.0333C8.55016 15.0167 8.76683 15 9.00016 15H20.3168C23.7168 15 25.9835 17.2667 25.9835 20.6667Z" fill="white"/>
            <path d="M29.5835 25.9999C31.7002 25.9999 33.4835 25.2999 34.7168 24.0499C35.9668 22.8166 36.6668 21.0333 36.6668 18.9166V10.4166C36.6668 6.49992 33.5002 3.33325 29.5835 3.33325H15.4168C11.5002 3.33325 8.3335 6.49992 8.3335 10.4166V11.6666C8.3335 12.1333 8.70016 12.4999 9.16683 12.4999H20.3168C24.8335 12.4999 28.4835 16.1499 28.4835 20.6666V25.1666C28.4835 25.6333 28.8502 25.9999 29.3168 25.9999H29.5835V25.9999Z" fill="white"/>
        </svg>
    </button>

    <!-- btn-backToTop -->
    <button type="button" class="btn-backToTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M16 2.73438C16.2306 2.73438 16.4545 2.7705 16.668 2.84668C16.9024 2.93042 17.1089 3.06887 17.2871 3.24707L24.7539 10.7139C25.0982 11.0582 25.2666 11.494 25.2666 11.9844C25.2666 12.4743 25.0988 12.9122 24.7686 13.2725L24.7617 13.2803L24.7539 13.2881C24.3965 13.6455 23.9536 13.834 23.4502 13.834C22.9468 13.834 22.5039 13.6455 22.1465 13.2881L17.833 8.97461V28.001C17.833 28.5047 17.6577 28.9507 17.3037 29.3047C16.9498 29.6586 16.5037 29.834 16 29.834C15.4963 29.834 15.0502 29.6586 14.6963 29.3047C14.3424 28.9507 14.167 28.5046 14.167 28.001V8.96875L9.81934 13.2891C9.47917 13.6287 9.05026 13.8026 8.56543 13.8174C8.05665 13.8328 7.60716 13.6491 7.24609 13.2881C6.89881 12.9407 6.7334 12.4978 6.7334 12.001C6.73341 11.5042 6.89878 11.0612 7.24609 10.7139L14.7129 3.24707C14.8911 3.06884 15.0975 2.93043 15.332 2.84668C15.5455 2.77048 15.7694 2.73438 16 2.73438Z" fill="white" stroke="white"/>
        </svg>
    </button>

    <!-- modal-main-action -->
    @@include('../modals/modal-main-action.html')
    <!-- modal-success -->
    @@include('../modals/modal-success.html')

    <!-- scripts -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/fancybox.umd.js"></script>
    <script src="assets/js/imask.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>