<section class="section section-clients-hero">

    <div class="section__header">
        <div class="container">
            <nav class="nav-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="about.html">О компании</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <span>Клиенты и отзывы</span>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h1 class="section__title h1 fw-600 text-uppercase">Клиенты и отзывы</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">

            <div class="d-grid grid-cols-1 grid-cols-xl-3 gap-4 gap-xl-6">
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-1.png",
                    "text": "ООО «Газпром межрегионгаз Йошкар-Ола» выражает благодарность ООО «Принтекс» за качественное и своевременное изготовление и конвертование счетов на оплату газа. Отмечается высокий профессионализм компании, надежность услуг и выполнение обязательств в установленные сроки."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-2.png",
                    "text": "ПАО «ТНС энерго Марий Эл» рекомендует ООО «Принтекс» как надежного и профессионального партнера в сфере полиграфических услуг. В отзыве отмечаются высокое качество продукции, соблюдение сроков, оперативность в решении задач и высокий уровень обслуживания."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-3.png",
                    "text": "ОАО «Щелангерский химзавод „Сайвер“» выражает благодарность ООО «Принтекс» за многолетнее сотрудничество. Компания отмечает своевременное выполнение работ, соблюдение согласованных сроков, высокое качество продукции и профессионализм сотрудников. ООО «Принтекс» характеризуется как надёжный и ответственный партнёр."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-4.png",
                    "text": "ООО «МариАвтоЦентр» выражает благодарность ООО «Принтекс» за помощь в изготовлении полиграфических материалов для автосалона Volkswagen. Отмечаются профессионализм, оперативность в решении поставленных задач и высокое качество выполненных работ."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-5.png",
                    "text": "ЗАО «ЭР-Телеком Холдинг» выражает благодарность ООО «Принтекс» за эффективное и плодотворное сотрудничество. Компания отмечает успешное взаимодействие и выражает признательность за совместную работу."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-6.png",
                    "text": "Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-7.png",
                    "text": "ООО «Газпром межрегионгаз Йошкар-Ола» выражает благодарность ООО «Принтекс» за качественное и своевременное изготовление и конвертование счетов на оплату газа. Отмечается высокий профессионализм компании, надежность услуг и выполнение обязательств в установленные сроки."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-5.png",
                    "text": "ЗАО «ЭР-Телеком Холдинг» выражает благодарность ООО «Принтекс» за эффективное и плодотворное сотрудничество. Компания отмечает успешное взаимодействие и выражает признательность за совместную работу."
                })
                @@include('../cards/card-review.html', {
                    "thumbURL": "assets/img/home/review-logo-8.png",
                    "text": "ПАО «БИНБАНК» выражает благодарность ООО «Принтекс» за высокое качество и отличную организацию работы при оказании рекламно-полиграфических услуг. Отмечается профессиональный подход к выполнению поставленных задач и готовность к дальнейшему развитию взаимовыгодных отношений."
                })
            </div>

            <!-- pagination -->
            <div class="d-none d-xl-block mt-10 mt-xl-12">
                @@include('../components/pagination.html')
            </div>

        </div>
    </div>

</section>