<section class="section section-404">

    <div class="section__body">
        <div class="container">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-5 mb-xl-12">
                    <img class="img-fluid" src="assets/img/home/404.png" alt="">
                </div>
                <div class="h3 fw-600 mb-6 mb-xl-7">К сожалению, страница не найдена</div>
                <div class="d-flex justify-content-center w-100">
                    <a href="index.html" class="btn btn-primary btn-lg flex-grow-1 flex-xl-grow-0">Главная страница</a>
                </div>
            </div>
        </div>
    </div>

</section>