<section class="section section-team-slider">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase text-center text-xl-start">Наша команда</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">
            <div class="swiperTeam-area position-relative">
                <div class="swiper swiperTeam">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-1.jpg",
                                "title": "Фамилия Имя",
                                "job": "директор по качеству"
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-2.jpg",
                                "title": "Курышкина Ольга",
                                "job": "менеджер-кассир"
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-3.jpg",
                                "title": "Семенова Дарья",
                                "job": "менеджер"
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-4.jpg",
                                "title": "Сачкова Дарья",
                                "job": "менеджер"
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-1.jpg",
                                "title": "Фамилия Имя",
                                "job": "директор по качеству"
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../cards/card-team-slide.html', {
                                "thumbURL": "assets/img/home/team-2.jpg",
                                "title": "Курышкина Ольга",
                                "job": "менеджер-кассир"
                            })
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <button type="button" class="btn btn-secondary btn-swiper-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M29.5557 18.6668H7.77789M17.1112 9.3335L7.77789 18.6668L17.1112 28.0002" stroke="currentColor" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-secondary btn-swiper-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M7.77783 18.6667L29.5556 18.6667M20.2223 28L29.5556 18.6667L20.2223 9.33333" stroke="currentColor" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>