<section class="section section-home-clients">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase">Нам доверяют</h2>
                        <div class="section__subtitle text-box h3 fw-400" style="max-width: 1000px;">
                            <p>Компании, для которых важны качество печати, соблюдение сроков и профессиональный подход к реализации проектов любой сложности.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto">
                    <div class="d-flex align-items-center gap-6">
                        <a href="clients.html" class="btn btn-secondary btn-lg hide-on-mobile">Смотреть все</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="clients-marquee">
            <div class="clients-track">
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-1.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-2.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-3.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-4.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-5.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-6.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-img-wrap">
                        <img 
                        class="img-fluid"
                        src="assets/img/home/client-logo-7.png" 
                        alt="...">
                    </div>
                    <div class="client-tooltip">
                        <div class="text-box">
                            <p>Компания выражает благодарность ООО «Принтекс» за высокое качество выполнения работ, оперативность, профессионализм сотрудников и высокий уровень коммуникации.</p>
                        </div>
                        <div class="h4 fw-600 mb-0">Волгатех</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__footer d-xl-none">
        <div class="container">
            <div class="d-flex flex-wrap gap-5">
                <a href="clients.html" class="btn btn-secondary btn-lg flex-grow-1">Смотреть все</a>
            </div>
        </div>
    </div>

</section>