<section class="section section-contacts">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase">Контакты</h2>
                        <div class="section__subtitle text-box h3 fw-400">
                            <p>Коммерческий отдел</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">
            <div class="row gy-9 gx-6">
                <div class="col-xl-8">
                    <div class="d-flex flex-column justify-content-between gap-9 h-100">
                        <div class="d-flex flex-column gap-6 gap-xl-10">
                            <div>
                                <div class="h4 fw-400 text-uppercase text-body text-opacity-60 mb-2 mb-4">Адрес</div>
                                <div class="h3 fw-500 mb-0">Марий Эл, Йошкар-Ола, ул. Эшкинина 25</div>
                            </div>
                            <div>
                                <div class="h4 fw-400 text-uppercase text-body text-opacity-60 mb-2 mb-4">Режим работы</div>
                                <div class="h3 fw-500 mb-0">Пн-Пт, 9:00 - 18:00</div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-6 gap-xl-10">
                            <div class="d-flex align-items-center gap-4 gap-xl-6">
                                <div class="contact-icon flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                        <path d="M20 9.33333C20.7072 9.33333 21.3855 9.61428 21.8856 10.1144C22.3857 10.6145 22.6667 11.2928 22.6667 12M20 4C22.1217 4 24.1566 4.84286 25.6569 6.34315C27.1571 7.84344 28 9.87827 28 12M6.66667 5.33333H12L14.6667 12L11.3333 14C12.7613 16.8954 15.1046 19.2387 18 20.6667L20 17.3333L26.6667 20V25.3333C26.6667 26.0406 26.3857 26.7189 25.8856 27.219C25.3855 27.719 24.7072 28 24 28C18.799 27.6839 13.8935 25.4753 10.2091 21.7909C6.52467 18.1065 4.31607 13.201 4 8C4 7.29276 4.28095 6.61448 4.78105 6.11438C5.28115 5.61428 5.95942 5.33333 6.66667 5.33333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div>
                                    <div class="h4 fw-400 text-uppercase text-body text-opacity-60 mb-2 mb-4">Телефон</div>
                                    <div class="h3 fw-500 mb-0">
                                        <a href="tel:+78362385656">8 (8362) 38-56-56</a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-4 gap-xl-6">
                                <div class="contact-icon flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                        <path d="M4 9.33366C4 8.62641 4.28095 7.94814 4.78105 7.44804C5.28115 6.94794 5.95942 6.66699 6.66667 6.66699H25.3333C26.0406 6.66699 26.7189 6.94794 27.219 7.44804C27.719 7.94814 28 8.62641 28 9.33366M4 9.33366V22.667C4 23.3742 4.28095 24.0525 4.78105 24.5526C5.28115 25.0527 5.95942 25.3337 6.66667 25.3337H25.3333C26.0406 25.3337 26.7189 25.0527 27.219 24.5526C27.719 24.0525 28 23.3742 28 22.667V9.33366M4 9.33366L16 17.3337L28 9.33366" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div>
                                    <div class="h4 fw-400 text-uppercase text-body text-opacity-60 mb-2 mb-4">Почта</div>
                                    <div class="h3 fw-500 mb-0">
                                        <a href="mailto:info12@printecs.com">info12@printecs.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-4 gap-xl-6">
                                <div class="contact-icon flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                        <path d="M18.6665 25.3333H13.3332C10.5042 25.3333 7.79109 24.2095 5.7907 22.2091C3.79031 20.2088 2.6665 17.4956 2.6665 14.6667V8H7.99984V14.6667C7.99984 16.0812 8.56174 17.4377 9.56193 18.4379C10.5621 19.4381 11.9187 20 13.3332 20V8H18.6665V14H18.7065C20.1679 13.8177 21.5123 13.1078 22.4871 12.0039C23.4618 10.9 23.9998 9.47802 23.9998 8.00533H29.3332L28.8772 10.2867C28.6041 11.6521 28.0227 12.9372 27.1774 14.0438C26.3322 15.1504 25.2453 16.0493 23.9998 16.672C25.211 17.0755 26.2913 17.7972 27.1278 18.7615C27.9643 19.7259 28.5261 20.8973 28.7545 22.1533L29.3332 25.3387H23.9998C23.9998 23.866 23.4618 22.444 22.4871 21.3401C21.5123 20.2362 20.1679 19.5263 18.7065 19.344V25.344L18.6665 25.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div>
                                    <div class="h4 fw-400 text-uppercase text-body text-opacity-60 mb-2 mb-4">Вконтакте</div>
                                    <div class="h3 fw-500 mb-0">
                                        <a href="https://vk.ru/printecs" target="_blank">vk.com/printecs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-16">
                    <div class="row g-1 g-xl-6">
                        <div class="col-12">
                            <img class="img-fluid rounded-3" src="assets/img/home/contacts-1.jpg" alt="">
                        </div>
                        <div class="col-12">
                            <img class="img-fluid rounded-3" src="assets/img/home/contacts-2.jpg" alt="">
                        </div>
                        <div class="col-9">
                            <img class="img-fluid rounded-3" src="assets/img/home/contacts-3.jpg" alt="">
                        </div>
                        <div class="col-15">
                            <img class="img-fluid rounded-3" src="assets/img/home/contacts-4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>