<section class="section section-fabric-foto">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase">Фотографии с&nbsp;производства</h2>
                        <div class="section__subtitle text-box h3 fw-400">
                            <p>Работаем на&nbsp;собственном оборудовании и&nbsp;контролируем качество на&nbsp;каждом этапе</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">
            <div class="d-grid grid-cols-1 grid-cols-xl-2 gap-5 gap-xl-7">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0 fs-6 fw-600 text-uppercase text-white bg-primary rounded-pill py-2 px-4 py-xl-4 px-xl-6 m-5 m-xl-8 z-1">Производство</div>
                    <a href="assets/img/home/gallery-1.jpg" data-fancybox="fabric-gallery">
                        <img class="img-fluid rounded-3" src="assets/img/home/gallery-1.jpg" alt="">
                    </a>
                </div>
                <div class="d-grid grid-cols-2 gap-5 gap-xl-7">
                    <div class="position-relative">
                        <a href="assets/img/home/gallery-2.jpg" data-fancybox="fabric-gallery">
                            <img class="img-fluid rounded-3" src="assets/img/home/gallery-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="position-relative">
                        <a href="assets/img/home/gallery-3.jpg" data-fancybox="fabric-gallery">
                            <img class="img-fluid rounded-3" src="assets/img/home/gallery-3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="position-relative order-xl-last">
                    <a href="assets/img/home/gallery-6.jpg" data-fancybox="fabric-gallery">
                        <img class="img-fluid rounded-3" src="assets/img/home/gallery-6.jpg" alt="">
                    </a>
                </div>
                <div class="d-grid grid-cols-2 gap-5 gap-xl-7">
                    <div class="position-relative">
                        <a href="assets/img/home/gallery-4.jpg" data-fancybox="fabric-gallery">
                            <img class="img-fluid rounded-3" src="assets/img/home/gallery-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="position-relative">
                        <a href="assets/img/home/gallery-5.jpg" data-fancybox="fabric-gallery">
                            <img class="img-fluid rounded-3" src="assets/img/home/gallery-5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>