<section class="section section-services">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase">Наши услуги</h2>
                    </div>
                </div>
                <div class="col-xl-auto">
                    <div class="d-flex align-items-center gap-6">
                        <a href="#" class="btn btn-secondary hide-on-mobile">Смотреть все</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">
            <!-- tabs-nav -->
            <div></div>
            <!-- tabs-content -->
            <div class="d-grid grid-cols-2 grid-cols-xl-4 gap-5 gap-xl-9 row-gap-xl-11">
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-1.png",
                    "title": "Афиши"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-2.png",
                    "title": "Бланки"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-3.png",
                    "title": "Визитки"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-4.png",
                    "title": "Открытки"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-5.png",
                    "title": "Листовки"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-6.png",
                    "title": "Блокноты"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-7.png",
                    "title": "Пакеты"
                })
                @@include('../cards/card-service.html', {
                    "thumbURL": "assets/img/home/card-cat-8.png",
                    "title": "Этикетки"
                })
            </div>
        </div>
    </div>

    <div class="section__footer d-xl-none">
        <div class="container">
            <div class="d-flex flex-wrap gap-5">
                <a href="#" class="btn btn-secondary flex-grow-1">Смотреть все</a>
            </div>
        </div>
    </div>

</section>