<section class="section section-contacts-hero">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h1 class="section__title h1 fw-600 text-uppercase">Контакты менеджеров</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">

            <div class="d-grid grid-cols-1 grid-cols-md-2 grid-cols-xl-3 gap-6">
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-1.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Курышкина Ольга",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-2.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Курышкина Ольга",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-2.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Курышкина Ольга",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-3.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Семенова Дарья",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-1.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Курышкина Ольга",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
                @@include('../cards/card-manager.html', {
                    "thumbURL": "assets/img/home/manager-1.jpg",
                    "job": "Менеджер - кассир",
                    "title": "Курышкина Ольга",
                    "tel": "8 (8362) 38-56-56 (доб. 207)",
                    "mail": "k.olga@printecs.com"
                })
            </div>

        </div>
    </div>

</section>