<section class="section section-history-slider">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase text-center text-xl-start">История компании</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">

            <div class="swiperYears-area position-relative mb-7 mb-xl-13">
                <div class="swiper swiperYears">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="year-item">
                                <div class="year-title">2010</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="year-item">
                                <div class="year-title">2011</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="year-item">
                                <div class="year-title">2012</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="year-item">
                                <div class="year-title">2013</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="year-item">
                                <div class="year-title">2014</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary btn-swiper-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M29.5557 18.6668H7.77789M17.1112 9.3335L7.77789 18.6668L17.1112 28.0002" stroke="currentColor" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-secondary btn-swiper-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                        <path d="M7.77783 18.6667L29.5556 18.6667M20.2223 28L29.5556 18.6667L20.2223 9.33333" stroke="currentColor" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>

            <div class="swiper swiperHistory">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div>
                            <div class="row gy-6">
                                <div class="col-xl-12">
                                    <div class="fs-3 text-body text-opacity-60 mb-1 mb-xl-5">2010</div>
                                    <div class="h2 fw-600 text-uppercase mb-4 mb-xl-7">Экологичная печать по текстилю</div>
                                    <div class="text-box">
                                        <p>Почти сразу же с началом печати конвертованных квитанций, отзываясь на потребности рынка, «Принтекс» запускает проект по рекламе на «платёжках» и открывает соответствующий отдел. Реклама на таких носителях пользовалась огромной популярностью, поскольку доходила до каждого человека, живущего даже в самых отдалённых районах Республики Марий Эл. Туда порой не приходили газеты, листовки и другие способы подачи информации потребителям. Агентство успешно просуществовало вплоть до июня 2018 года, пока не вышел закон, запрещающий рекламу на квитанциях по квартплате.</p>
                                        <p>В этом же 2011 году «Принтекс» одним из первых в Поволжье начал применять ещё одну инновационную технологию в печати по текстилю. К тому времени она начала приобретать всё большую популярность в области моды и дизайна, включая оформление интерьеров. Технология, которую предложил клиентам «Принтекс», привлекла в том числе и своей экологичностью: была совершенно безопасной для здоровья, что позволяло печатать на спальном текстиле, белье и одежде для малышей. При этом базой для печати экологичными красками могли служить только натуральные ткани.</p>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="px-xl-12">
                                        <img class="img-fluid rounded-3" src="assets/img/home/history-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="row gy-6">
                                <div class="col-xl-12">
                                    <div class="fs-3 text-body text-opacity-60 mb-1 mb-xl-5">2011</div>
                                    <div class="h2 fw-600 text-uppercase mb-4 mb-xl-7">Экологичная печать по текстилю</div>
                                    <div class="text-box">
                                        <p>Почти сразу же с началом печати конвертованных квитанций, отзываясь на потребности рынка, «Принтекс» запускает проект по рекламе на «платёжках» и открывает соответствующий отдел. Реклама на таких носителях пользовалась огромной популярностью, поскольку доходила до каждого человека, живущего даже в самых отдалённых районах Республики Марий Эл. Туда порой не приходили газеты, листовки и другие способы подачи информации потребителям. Агентство успешно просуществовало вплоть до июня 2018 года, пока не вышел закон, запрещающий рекламу на квитанциях по квартплате.</p>
                                        <p>В этом же 2011 году «Принтекс» одним из первых в Поволжье начал применять ещё одну инновационную технологию в печати по текстилю. К тому времени она начала приобретать всё большую популярность в области моды и дизайна, включая оформление интерьеров. Технология, которую предложил клиентам «Принтекс», привлекла в том числе и своей экологичностью: была совершенно безопасной для здоровья, что позволяло печатать на спальном текстиле, белье и одежде для малышей. При этом базой для печати экологичными красками могли служить только натуральные ткани.</p>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="px-xl-12">
                                        <img class="img-fluid rounded-3" src="assets/img/home/history-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="row gy-6">
                                <div class="col-xl-12">
                                    <div class="fs-3 text-body text-opacity-60 mb-1 mb-xl-5">2012</div>
                                    <div class="h2 fw-600 text-uppercase mb-4 mb-xl-7">Экологичная печать по текстилю</div>
                                    <div class="text-box">
                                        <p>Почти сразу же с началом печати конвертованных квитанций, отзываясь на потребности рынка, «Принтекс» запускает проект по рекламе на «платёжках» и открывает соответствующий отдел. Реклама на таких носителях пользовалась огромной популярностью, поскольку доходила до каждого человека, живущего даже в самых отдалённых районах Республики Марий Эл. Туда порой не приходили газеты, листовки и другие способы подачи информации потребителям. Агентство успешно просуществовало вплоть до июня 2018 года, пока не вышел закон, запрещающий рекламу на квитанциях по квартплате.</p>
                                        <p>В этом же 2011 году «Принтекс» одним из первых в Поволжье начал применять ещё одну инновационную технологию в печати по текстилю. К тому времени она начала приобретать всё большую популярность в области моды и дизайна, включая оформление интерьеров. Технология, которую предложил клиентам «Принтекс», привлекла в том числе и своей экологичностью: была совершенно безопасной для здоровья, что позволяло печатать на спальном текстиле, белье и одежде для малышей. При этом базой для печати экологичными красками могли служить только натуральные ткани.</p>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="px-xl-12">
                                        <img class="img-fluid rounded-3" src="assets/img/home/history-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="row gy-6">
                                <div class="col-xl-12">
                                    <div class="fs-3 text-body text-opacity-60 mb-1 mb-xl-5">2013</div>
                                    <div class="h2 fw-600 text-uppercase mb-4 mb-xl-7">Экологичная печать по текстилю</div>
                                    <div class="text-box">
                                        <p>Почти сразу же с началом печати конвертованных квитанций, отзываясь на потребности рынка, «Принтекс» запускает проект по рекламе на «платёжках» и открывает соответствующий отдел. Реклама на таких носителях пользовалась огромной популярностью, поскольку доходила до каждого человека, живущего даже в самых отдалённых районах Республики Марий Эл. Туда порой не приходили газеты, листовки и другие способы подачи информации потребителям. Агентство успешно просуществовало вплоть до июня 2018 года, пока не вышел закон, запрещающий рекламу на квитанциях по квартплате.</p>
                                        <p>В этом же 2011 году «Принтекс» одним из первых в Поволжье начал применять ещё одну инновационную технологию в печати по текстилю. К тому времени она начала приобретать всё большую популярность в области моды и дизайна, включая оформление интерьеров. Технология, которую предложил клиентам «Принтекс», привлекла в том числе и своей экологичностью: была совершенно безопасной для здоровья, что позволяло печатать на спальном текстиле, белье и одежде для малышей. При этом базой для печати экологичными красками могли служить только натуральные ткани.</p>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="px-xl-12">
                                        <img class="img-fluid rounded-3" src="assets/img/home/history-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <div class="row gy-6">
                                <div class="col-xl-12">
                                    <div class="fs-3 text-body text-opacity-60 mb-1 mb-xl-5">2014</div>
                                    <div class="h2 fw-600 text-uppercase mb-4 mb-xl-7">Экологичная печать по текстилю</div>
                                    <div class="text-box">
                                        <p>Почти сразу же с началом печати конвертованных квитанций, отзываясь на потребности рынка, «Принтекс» запускает проект по рекламе на «платёжках» и открывает соответствующий отдел. Реклама на таких носителях пользовалась огромной популярностью, поскольку доходила до каждого человека, живущего даже в самых отдалённых районах Республики Марий Эл. Туда порой не приходили газеты, листовки и другие способы подачи информации потребителям. Агентство успешно просуществовало вплоть до июня 2018 года, пока не вышел закон, запрещающий рекламу на квитанциях по квартплате.</p>
                                        <p>В этом же 2011 году «Принтекс» одним из первых в Поволжье начал применять ещё одну инновационную технологию в печати по текстилю. К тому времени она начала приобретать всё большую популярность в области моды и дизайна, включая оформление интерьеров. Технология, которую предложил клиентам «Принтекс», привлекла в том числе и своей экологичностью: была совершенно безопасной для здоровья, что позволяло печатать на спальном текстиле, белье и одежде для малышей. При этом базой для печати экологичными красками могли служить только натуральные ткани.</p>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="px-xl-12">
                                        <img class="img-fluid rounded-3" src="assets/img/home/history-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>