<section class="section section-cta" style="background-image: url('assets/img/home/bg-cta.jpg');">

    <div class="section__header">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <div class="d-flex flex-column gap-5 gap-xl-7">
                        <h2 class="section__title h1 fw-600 text-uppercase text-white text-center">Обсудим ваш заказ?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
        <div class="container">
            <!-- form-wrap -->
            <div class="form-wrap">
                <div class="mb-7 mb-xl-10">
                    <div class="text-center fs-3 fw-400 mb-1 mb-xl-4">Оставьте заявку — менеджер свяжется с вами и подберёт оптимальный вариант. Можно также написать или позвонить нам напрямую.</div>
                    <div class="text-center">
                        <a href="tel:+78362385656" class="link-primary fs-3 fw-600">+7 8362 38-56-56</a>
                    </div>
                </div>
                <form>
                    <div>
                        <div class="row gy-5 gy-xl-6">
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="text" class="form-control form-control-lg" placeholder="Имя">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="tel" class="form-control form-control-lg" placeholder="+ 7 (000) 000-00-00">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                            <div class="col-24">
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <!-- field -->
                                        <input type="email" class="form-control form-control-lg" placeholder="Почта">
                                    </div>
                                    <!-- validation feedbacks -->
                                    <div class="form-feedback feedback-error">Поле заполнено неверно</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-7 mt-xl-7">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ctaCheck2">
                            <label class="form-check-label" for="ctaCheck2">Я даю своё согласие на&nbsp;обработку <a href="#">персональных данных</a> и&nbsp;соглашаюсь с&nbsp;<a href="#">политикой конфиденциальности</a></label>
                        </div>
                    </div>
                    <div class="mt-7 mt-xl-10">
                        <button type="submit" class="btn btn-primary w-100">Оставить заявку</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>